@import "variable";

.tech-theme-html {
  #techThemeStyle(@orange);
}

.tech-theme-js {
  #techThemeStyle(@blue);
}

.tech-theme-server, .tech-theme-engine {
  #techThemeStyle(@green);
}

.tech-theme-os {
  #techThemeStyle(lighten(@green, @lighten-2nd));
}

.tech-theme-app {
  #techThemeStyle(lighten(@green, @lighten-3rd));
}

.tech-theme-IDE {
  #techThemeStyle(@purple);
}

.tech-theme-hobby {
  #techThemeStyle(@purple);
}