@import "variable";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: @bodyBgColor;
  color: @bodyFontColor;
  max-width: @bodyMaxWidth;
  margin: auto;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: @blue;
}

h3 {
  color: @green;
}

.cursor-pinter {
  cursor: pointer;
}

.cursor-disabled {
  cursor: not-allowed;
}


.containerOverflow {
  overflow: auto;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}