#contentPadding {
  padding-left: 15px;
  padding-right: 15px;
}
.tech-theme-html {
  color: #cc7832;
  stroke: #cc7832;
  fill: #cc7832;
}
.tech-theme-js {
  color: #5bc0de;
  stroke: #5bc0de;
  fill: #5bc0de;
}
.tech-theme-server,
.tech-theme-engine {
  color: #629755;
  stroke: #629755;
  fill: #629755;
}
.tech-theme-os {
  color: #7daf70;
  stroke: #7daf70;
  fill: #7daf70;
}
.tech-theme-app {
  color: #8cb881;
  stroke: #8cb881;
  fill: #8cb881;
}
.tech-theme-IDE {
  color: #9876aa;
  stroke: #9876aa;
  fill: #9876aa;
}
.tech-theme-hobby {
  color: #9876aa;
  stroke: #9876aa;
  fill: #9876aa;
}
.btn-light-dark {
  color: #b7b7b7;
  background-color: #2b2b2b;
  border-color: #383838;
}
.btn-light-dark:hover,
.btn-light-dark:focus {
  color: #b7b7b7;
  background-color: #383838;
  border-color: #454545;
}
.btn-dark {
  color: #b7b7b7;
  background-color: #454545;
  border-color: #515151;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #b7b7b7;
  background-color: #515151;
  border-color: #5e5e5e;
}
.btn-dark.active {
  background-color: #286090;
  border-color: #6b6b6b;
}
.btn-green {
  color: #d1d1d1;
  background-color: #629755;
  border-color: #57874c;
}
.btn-green:hover,
.btn-green:focus {
  color: #eaeaea;
  background-color: #57874c;
  border-color: #4d7643;
}
.list-group .list-group-item {
  background-color: inherit;
  border: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 120px;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 130px;
  }
  .dl-horizontal.dl-sub dt {
    width: 100px;
    text-align: left;
  }
  .dl-horizontal.dl-sub dd {
    margin-left: 110px;
  }
}
dl.dl-horizontal {
  padding-left: 15px;
  padding-right: 15px;
}
dl.dl-horizontal.dl-sub-right {
  padding-left: 0;
}
.dl-horizontal dd {
  margin-bottom: 10px;
}
.btn .badge {
  margin: -5px 0;
  color: #dddddd;
}
.listPanel {
  background-color: #363636;
  margin-bottom: 30px;
}
.listPanel-badge {
  position: absolute;
  border-radius: 15px;
  line-height: 60px;
  font-size: 1.8em;
  text-align: center;
  width: 40px;
  height: 60px;
  right: 0;
  margin-top: -16px;
  margin-right: 6px;
  background-color: #363636;
  z-index: 1;
}
.listPanel-badge-git {
  position: absolute;
  border-radius: 15px;
  line-height: 60px;
  font-size: 1.8em;
  text-align: center;
  width: 40px;
  height: 60px;
  right: 0;
  margin-top: -16px;
  margin-right: 6px;
  background-color: #363636;
  z-index: 1;
  margin-right: 50px;
}
.listPanel-badge-git .icon {
  border: none;
  cursor: pointer;
  margin: 15px 5px;
  width: 30px;
  height: 30px;
  background: url("../img/icon_gitlab.png") no-repeat;
}
.listPanel-badge-git .icon > .icon-word {
  display: none;
}
.listPanel-header {
  display: inline-block;
}
.listPanel-btn {
  margin-left: 15px;
}
.img-panel {
  margin-bottom: 15px;
}
.img-panel-img {
  width: 100%;
  height: 100%;
}
.img-panel-btn {
  text-align: center;
}
.img-panel-btn a {
  width: 100%;
}
.top-menu {
  padding: 10px 20px 10px 20px;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  background-color: #454545;
}
.top-menu .top-menu-left {
  width: 60%;
}
.top-menu .top-menu-left h3 {
  margin: 0;
}
.top-menu .top-menu-right {
  width: 40%;
  text-align: right;
}
.top-menu .top-menu-left,
.top-menu .top-menu-right {
  display: inline-block;
}
.top-menu .btn-light-dark {
  margin: -15px -10px -10px -10px;
}
.top-menu .btn-light-dark a,
.top-menu .btn-light-dark a:link,
.top-menu .btn-light-dark a:active {
  color: #b7b7b7;
}
.top-menu .btn-light-dark a:hover {
  color: #fff;
}
.top-menu .btn-light-dark a:visited {
  color: darker(#b7b7b7, 15%);
}
.education .col-xs-4 {
  margin-bottom: 10px;
}
.d3-chat-cont {
  text-align: center;
  margin-bottom: 20px;
}
svg.d3-chat path,
svg.d3-chat text {
  fill: #2b2b2b;
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2b2b2b;
  color: #b7b7b7;
  max-width: 960px;
  margin: auto;
}
h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #5bc0de;
}
h3 {
  color: #629755;
}
.cursor-pinter {
  cursor: pointer;
}
.cursor-disabled {
  cursor: not-allowed;
}
.containerOverflow {
  overflow: auto;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
