@import "variable";

// widget class

.btn .badge {
  margin: -5px 0;
  color: lighten(@bodyFontColor, @lighten-3rd);
}

// UI / Components

.listPanel {
  //#borderRadius(10px, 10px, 10px, 10px);
  background-color: @bodyBgColor_l2;
  margin-bottom: 30px;
}

.listPanel-badge {
  position: absolute;
  border-radius: 15px;
  line-height: 60px;
  font-size: 1.8em;
  text-align: center;
  width: 40px;
  height: 60px;
  right: 0;
  margin-top: -16px;
  margin-right: 6px;
  background-color: #363636;
  z-index:1;
}

.listPanel-badge-git {
  .listPanel-badge;
  margin-right: 50px;
}
.listPanel-badge-git .icon {
  border: none;
  cursor: pointer;
  margin: 15px 5px;
  width:30px; height: 30px;
  background: url("../img/icon_gitlab.png") no-repeat;

  & > .icon-word {
    display: none;
  }
}

.listPanel-header {
  display: inline-block;
}

.listPanel-btn {
  margin-left: 15px;
}

.img-panel {
  margin-bottom: 15px;
}
.img-panel-img {
  //#borderRadius(10px, 10px, 0, 0);
  width: 100%;
  height: 100%;
}
.img-panel-btn {
  //#borderRadius(0, 0, 0, 10px);
  text-align: center;
  a {
    width:100%;
  }
}

.top-menu {
  padding: 10px 20px 10px 20px;
  #borderRadius(0, 0, 10px, 10px);
  background-color: lighten(@bodyBgColor, 10%);

  .top-menu-left {
    h3 {
      margin:0;
    }
    width:60%;
  }
  .top-menu-right {
    width: 40%;
    text-align: right;
  }

  .top-menu-left, .top-menu-right {
    display: inline-block;
  }

  .btn-light-dark {
    margin: -15px -10px -10px -10px;

    a, a:link, a:active {
      color: @bodyFontColor
    }
    a:hover {
      color: #fff;
    }
    a:visited {
      color: darker(@bodyFontColor, 15%);
    }
  }
}


.education .col-xs-4 {
  margin-bottom: 10px;
}

.d3-chat-cont {
  text-align: center;
  margin-bottom: 20px;
}

svg.d3-chat {
  & path, & text {
    fill: @bodyBgColor;
    cursor: pointer;
  }
}

