@red: #d9534f;
@yellow: #ffc66d;
@green: #629755;
@blue: #5bc0de;
@darkBlue: #286090;
@orange: #cc7832;
@purple: #9876aa;
@white: #fff;

@bodyMaxWidth: 960px;
@bodyBgColor: #2b2b2b;
@bodyBgColor_l2: #363636;
@bodyFontColor: #b7b7b7;

@lighten-2nd: 10%;
@lighten-3rd: 15%;

#techThemeStyle (@color) {
  color: @color;
  stroke: @color;
  fill: @color;
}

#contentPadding {
  padding-left: 15px;
  padding-right: 15px;
}

#borderRadius(@lt, @rt, @rb, @lb) {
  border-radius: @lt @rt @rb @lb;
  -moz-border-radius: @lt @rt @rb @lb;
  -webkit-border-radius: @lt @rt @rb @lb;
}